<div class="scrolling_body" id="skrollr-body">
  <div class="stars" data-0="top: -300px" data-200="top: 0px"></div>
  <div class="glow"  data-0="top:  200px" data-100="top: 550px"></div>
  <div class="sunset-color" data-0="top: 300px" data-200="top:400px"></div>
  <div class="world" data-0="top: 230px" data-100="top: 200px"></div>
  <div class="logo" data-0="top: 290px" data-100="top: 330px"></div>
  <div class="hill-left"></div>
  <div class="hill-right"></div>
</div>
<div class="info what">

</div>
<div class="info who">

</div>
<div class="info where">

</div>
<div class="info how">

</div>
