<div class="scrolling_body" id="top">
  <div class="sky">
    <div class="stars" data-0="top[sqrt]: -200px" data-300="top: 250px"></div>
    <div class="shooting-star" data-0="top[sqrt]: -500px; left: 700px;" data-400="top: 250px; left: -100px;"><img src="/assets/shooting-star.png"></div>
    <div class="backup-stars" data-0="top[sqrt]: 0px" data-300="top: -300px"></div>
    <div class="glow"  data-0="top: 300px" data-200="top: 650px"></div>
    <div class="sunset-color" data-0="top: 400px" data-100="top:550px"></div>
  </div>
  <div class="landscape">
    <div class="world" data-0="top[sqrt]: 300px" data-100="top: 250px"><img src="/assets/world2.png"></div>
    <div class="logo" data-0="top[sqrt]: 375px" data-400="top: 500px"><img src="/assets/logo.png"></div>
    <div class="logo2" data-0="top[sqrt]: 435px" data-400="top: 560px"><img src="/assets/logo2.png"></div>
    <div class="hill-left" data-0="top: 480px; left: -230px" data-250="top: 520px; left: -280px;"></div>
    <div class="hill-right" data-0="top: 455px; right: -250px;" data-180="top: 500px; right: -300px;"></div>
  </div>
</div><!-- /top -->

<div class="menu" id="nav" data-0="position:static;" data-top-top="position:fixed;top:0;" data-edge-strategy="set" style="opacity: 1; z-index: 1000;">
  <ul>
    <li class="logo_small"><a href="#top"><img src="/assets/logo_small.png"></a></li>
    <li class="what"><a href="#what">WHAT</a></li>
    <li class="who"><a href="#who">WHO</a></li>
    <li class="where"><a href="#where">WHERE</a></li>
    <li class="apply"><a href="#apply">APPLY</a></li>
  </ul>
</div><!-- /menu -->

<div style="padding:1em; display: none;" data-0="display:none;" data-top-top="display:block;" data-anchor-target="#nav" data-edge-strategy="set">&nbsp;</div>

<div class="info what" id="what">
  <div class="info_container">
    <div class="title">WHAT</div>
    <%=render 'shared/what' %>
  </div>
</div>

<div class="info who" id="who">
  <div class="info_container">
    <div class="title">WHO</div>
    <%=render 'shared/who' %>
  </div>
</div>
<div class="info where" id="where">
  <div class="info_container">
    <div class="title">WHERE</div>
    <%=render 'shared/where' %>
  </div>
</div>
<div class="info apply" id="apply">
  <div class="info_container">
    <div class="title">APPLY</div>
    <%=render 'shared/apply' %>
  </div>
</div>
