<!--div class="top" id="top">
  <div class="logos">
    <div class="logo"><img src="/assets/logo.png"></div>
    <div class="logo logo2"><img src="/assets/logo2.png"></div>
  </div>
  <div class="stars"></div>
  <div class="backup-stars"></div>
  <div class="world"><img src="/assets/world2.png"></div>
</div>
<div class="menu">
  <ul>
    <li><a href="#what">WHAT</a></li>
    <li><a href="#who">WHO</a></li>
    <li><a href="#where">WHERE</a></li>
    <li><a href="#apply">APPLY</a></li>
 </ul>
</div-->
<div class="bottom">
  <div class="what">
    <h1>WHAT</h1>
    <%=render 'shared/what' %>
  </div>

  <div class="who">
    <h1>WHO</h1>
    <%=render 'shared/who' %>
  </div>

  <div class="where">
    <h1>WHERE</h1>
    <%=render 'shared/where' %>
  </div>

  <div class="apply">
    <h1>APPLY</h1>
    <%=render 'shared/apply' %>
  </div>
</div>
