    <div class="body">
      <p><span class="highlight">Take some time and think</span> about these questions before you submit your answers. These questions are to help you reflect and help us better understand you.</p>
      <div class="application">
        <div class="question_block">
          <div class="question">First and last name</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">Email, twitter, blog</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">What makes Campendo appealing to you?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">What is your vision of the future?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">What's the story of how you got here?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">Why is it important for you to succeed?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">Are you afraid of failure? Why?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">Have you ever risked everything to achieve something? What was it and why?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">What is an insight that you've noticed about life or people that not many others have noticed?</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="question_block">
          <div class="question">Describe your perfect supportive learning environment.</div>
          <div class="answer"><textarea></textarea></div>
        </div><!-- question_block -->
        <div class="submit"> 
          <input type="submit" value="Send Application">
        </div>
      </div><!-- /application -->
    </div>

