    <div class="body">
      <h3>About</h3>
      <p>
      Campendo Foundation Series is a <span class="highlight">product and leadership program</span>. We're distilling the philosophy and practice of building software products into an experience we can share with ambitious, autodidactic applicants.
      </p>
      <p>It will be an amalgam of practical application, philisophical dissection, reflection, and group participation and discovery.</p>
      <p>The primary language and framework we'll be learning along the way is <span class="highlight">ruby on rails</span>. We'll start with a photoshop image, move through the entire building process, and finally ending up with a launched prototype.</p>

      <h3>Class size</h3>
      Each <span class="highlight">class size will only ever have as many participants as can fit in my house</span>. It's important to everyone involved that each participant gets the attention they need so that the group as a whole becomes well integrated and successful.
      <h3>Class Format</h3>
      Campendo will graduate <span class="highlight">three classes a year</span>. Each class lasts three months, followed by a month long break. The schedule looks like this: 
      <p>
      <table class="batch">
        <tr>
          <td>
            January
          </td>
          <td class="batch" rowspan="3">Winter class</td>
        </tr>
        <tr>
          <td>
            February
          </td>
        </tr>
        <tr>
          <td>
            March
          </td>
        </tr>
        <tr>
          <td>
            April
          </td>
          <td class="break">Break</td>
        </tr>
        <tr>
          <td>
            May
          </td>
          <td class="batch" rowspan="3">Spring Class</td>
        </tr>
        <tr>
          <td>
            June
          </td>
        </tr>
        <tr>
          <td>
            July
          </td>
        </tr>
        <tr>
          <td>
            August
          </td>
          <td class="break">
            Break
          </td>
        </tr>
        <tr>
          <td>
            September
          </td>
          <td class="batch" rowspan="3">
            Fall Class
          </td>
        </tr>
        <tr>
          <td>
            October
          </td>
        </tr>
        <tr>
          <td>
            November
          </td>
        </tr>
        <tr>
          <td>
            December
          </td>
          <td class="break">
            Break
          </td>
        </tr>
      </table>
      </p>
      <h3>Course Format</h3>
      <p>
      Each class will meet on <span class="highlight">Sundays for 8 hours</span> at a time. The schedule will be as follows: 
      </p>
      <ul>
        <li>1 hour lecture and demo</li>
        <li>2 hour hands on</li>
        <li>1 hour break for lunch/snacks</li>
        <li>2 hour hands on</li>
        <li>1 hour expert philosophical discussion</li>
        <li>1 hour reflection and group sharing</li>
      </ul>
      <h3>Weekly Format</h3>
      <p>When we're not meeting on Sundays we'll have an around the clock <span class="highlight">open chat channel on IRC</span> where we will all help one another. </p>
      <p>Campendo instructors and helpers will also have scheduled office hours where they will certainly be available to offer any help you may need. A group meetup each evening online is also being considered.</p>
      <h3>Cost</h3>
      <p><span class="highlight">Free</span>. The only thing we ask is that you stick around in the IRC channel and help out future classes and anyone seeking help.</p>
    </div>

