  <div class="body">
      <p>Each Campendo class will be held <span class="highlight">in my living room</span> in San Francisco, California's Mission District. We'll probably just pool our cash together for food and drinks</p>
      <% if controller.action_name == "index" %>
      <p>
      <iframe width="680" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/preview#!q=40+Adair+Street&data=!4m15!2m14!1m13!1s0x808f7e247ca04201%3A0xfcbf3d3e330c35b4!3m8!1m3!1d105409!2d-122.4376!3d37.7577!3m2!1i1440!2i802!4f13.1!4m2!3d37.7657529!4d-122.4180025">
      </p>
      <% end %>
  </div>
