    <div class="body">
      <p>We are assembling people that have a need to deeply understand their craft and want to share that <span class="highlight">insight</span> with you.</p>
      <h3>Mentors</h3>
      <div class="clearfix"></div>
      <div class="person">
        <div class="photo"><img src="/assets/noise.png"></div>
        <div class="name">Dan Gailey</div>
        <div class="area">Web Applications</div>
      </div><!-- /person -->
      <div class="clearfix"></div>
      <br>
      <h3>Partners</h3>
      <div class="person">
        <div class="photo"><img src="/assets/noise.png"></div>
        <div class="name">San Francisco Hacker News</div>
        <div class="area"></div>
      </div><!-- /person -->
      <div class="person">
        <div class="photo"><img src="/assets/noise.png"></div>
        <div class="name">Techendo</div>
        <div class="area"></div>
      </div><!-- /person -->
    </div>

