/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$cmp-bg-main: #32363c;
$cmp-bg-what: #4f5987;
$cmp-bg-who: #5d6d8f;
$cmp-bg-where: #74829f;
$cmp-bg-how: rgb(134, 149, 179);
$cmp-page-width: 1152px;
$cmp-header-font: "Letter Gothic Std";
$cmp-highlight-color: rgb(245, 219, 166);
$cmp-link-color: rgb(255, 174, 174);

.highlight {
  color: $cmp-link-color;
}

.clearfix {
  clear: both;
}

h3 { 
  font-size: 20pt; 
  text-shadow: 1px 0px 3px rgb(56, 55, 55);
  color: $cmp-highlight-color;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url('LetterGothicStd.otf');
  src: local('Letter Gothic Std'), local('Letter Gothic'),
    url("LetterGothicStd.otf") format("opentype")
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: $cmp-header-font;
  margin-bottom: 1px;
}

.scrolling_body {
  top: 0px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 600px;
  background-image: url('noise.png');
  background-attachment:fixed;
  background-color: rgb(80, 80, 100);

  .landscape {
    width: $cmp-page-width;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }


  div { 
    background-repeat: repeat-x;
  }
  .stars {
    background-image: url('stars.png');
    height: 500px;
    top: -300px;
    position: absolute;
    width: 100%;
  }
  .shooting-star {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 100;
    left: 900;
    overflow: auto;
  }
  .backup-stars {
    background-image: url('backup-stars.png');
    height: 500px;
    top: -300px;
    position: absolute;
    width: 100%;
  }
  .glow {
    background-image: url('glow.png');
    height: 300px;
    top: 400px;
    width: 100%;
    position: absolute;
  }
  .sunset-color {
    background-image: url('sunset-color.png');
    position: absolute;
    height: 300px;
    top: 300px;
    width: 100%;
  }
  .world {
    height: 400px;
    top: 300px;
    position: relative;
    z-index: 1000;
    left: -130px;
  }
  .logo {
    position: absolute;
    top: 375px;
    width: 400px;
    left: 20px;
    z-index: 1000;
    height: 100px;
    background-repeat: no-repeat;
  }
  .logo2 {
    position: absolute;
    top: 435px;
    width: 400px;
    z-index: 1000;
    height: 100px;
    background-repeat: no-repeat;
    left: 20px;
  }
  .hill-left {
    background-image: url('hill-left.png');
    position: absolute;
    top: 350px;
    width: 614px;
    height: 200px;
    left: -200px;
  }
  .hill-right {
    background-image: url('hill-right.png');
    position: absolute;
    width: 614px;
    height: 200px;
    top: 355px;
    right: -250px;
  }
}

.menu_holder {
  height: 60px;
  display: hidden;
  width: 100%;
  background-color: red;
}
.menu {
  border-bottom: 1px solid rgb(42, 44, 56);
  border-top: 1px solid rgb(42, 44, 56);
  background-color: $cmp-bg-main;
  width: 100%;
  text-align: center;
  font-size: 20pt;
  vertical-align: text-bottom;
  z-index:1000;

  .logo_small:hover {
    opacity: 1;
  }
  .logo_small {
    position: relative;
    top: 10px;
    opacity: .8;
    a {
      padding: 0px;
      margin: 0px;
    }
  }
  a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 7px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      display: inline;
    }
    div {
      float: left;
      height: 10px;
      width: 10px;
      background-color: red;
      position: relative;
      overflow: auto;
    }
  }
}

.info {
  overflow: auto;
  min-height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  .info_container {
    width: $cmp-page-width;
    margin: 0 auto;
  }
  .title {
    text-shadow: 1px 0px 3px #383737;
    padding-left: 10px;
    width: 180px;
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
    border-right: 10px solid rgb(96, 122, 179);
    font-size: 45pt;
    color: #FFF;
    float: left;
    margin-right: 50px;
  }
  .body {
    overflow: auto;
    width: 60%;
    padding-right: 40px;
    float: left;
    color: #FFF;
    font-size: 14pt;
  }
}

#what, #who, #where, #apply {
  background-image: url('noise.png');
}

#what {
  background-color: $cmp-bg-what;
  table.batch {
    margin: 0 auto;
    font-size: 17pt;
    td { padding: 10px; }
    td:not(.batch) { text-align: right; }
    td.batch {
      text-shadow: 1px 0px 3px rgb(56, 55, 55);
      text-align: center;
      background-color: $cmp-bg-who;
    }
    td.break {
      text-shadow: 1px 0px 3px rgb(56, 55, 55);
      background-color: rgb(89, 95, 155);
      text-align: center;
    }
  }
}
#who {
  background-color: $cmp-bg-who;
  .person {
    a { 
      color: $cmp-highlight-color;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    padding: 10px;
    overflow: auto;
    float: left;
    text-align: center;
    .photo img {
      width: 175px;
      height: 175px;
      opacity: .9;
      border-radius: 100px;
      background-color: $cmp-bg-main;
      border: 1px solid rgb(46, 46, 46);
      box-shadow: 0px 0px 4px rgb(5, 0, 44);
    }
    .name {
      color: $cmp-highlight-color;
      text-shadow: 1px 0px 3px rgb(56, 55, 55);
      font-size: 16pt;
    }
    .area {
      font-size: 10pt;
    }
  }
}
#where {
  background-color: $cmp-bg-where;
  iframe {
    border: 1px solid rgb(134, 134, 134);
    float: left;
    border-radius: 5px;
  }
}
#apply {
  background-color: $cmp-bg-how;
}

.application {
  background-color: rgb(237, 240, 247);
  background-image: url('noise.png');
  border: 1px solid rgb(134, 134, 134);
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  margin-right: 10px;
  .question_block {
    margin-bottom: 20px;
    .question {
      font-size: 16pt;
      color: rgb(77, 77, 77);
      margin-bottom: 10px;
    }
    .answer {
      textarea {
        width: 650px;
        height: 100px;
      }
    }
  }
  .submit {
    text-align: right;
    input[type="submit"] {
      font-size: 16pt;
      background-color: rgb(130, 129, 158);
      background-image: url('/assets/noise.png');
      color: #FFF;
      border: 1px solid rgb(89, 89, 90);
      text-shadow: 0px 1px #000;
      border-radius: 3px;
      height: 40px;
    }
  }
}

/* FOR MOBILE SITE */
.mobile {
  height: 100%;
  color: #FFF !important;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  .top {
    background-color: $cmp-bg-main;
    background-image: url('noise.png');
    height: 220px;
    .logo {
      position: absolute;
      z-index: 500;
      top: 10px;
      left: 35px;
    }
    .logo2 {
      top: 165px;
      z-index: 500;
      left: 35px;
    }
    .stars {
      background-image: url('stars.png');
      position: absolute;
      width: 100%;
      top: 0px;
      height: 200px;
      opacity: .4;
      overflow: hidden;
    }
    .backup-stars {
      background-image: url('backup-stars.png');
      position: absolute;
      top: -100px;
      height: 300px;
      width: 100%;
    }
    .world  {
      z-index: 200;
      overflow: auto;
      top: 77px;
      position: absolute;
      img {
        width: 100%;
      }
    }
  }
  .bottom {
    background-color: $cmp-bg-who;
    background-image: url('noise.png');
    #what, #who, #where, #apply {
      text-shadow: 0px 0px 3px rgb(37, 37, 37);
      padding: 10px;
      overflow: auto;
      textarea { width: 95%; }
    }
  }
  .application {
    text-shadow: none;
  }
}

