/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$cmp-bg-main: #32363c;
$cmp-bg-what: #4f5987;
$cmp-bg-who: #5d6d8f;
$cmp-bg-where: #74829f;
$cmp-bg-how: #91a1b2;
$cmp-page-width: 1152px;
$cmp-header-font:"Letter Gothic Std";

body, html {
  padding: 0;
  margin: 0;
  background-color: $cmp-bg-main;
  font-family: $cmp-header-font;
}

.scrolling_body {
  top: 0px;
  position: relative;
  overflow: hidden;
  min-height: 600px;

  .landscape {
    width: $cmp-page-width;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }


  div { 
    background-repeat: repeat-x;
  }
  .stars {
    background-image: url('stars.png');
    height: 500px;
    top: -300px;
    position: absolute;
    width: 100%;
  }
  .backup-stars {
    background-image: url('backup-stars.png');
    height: 500px;
    top: -300px;
    position: absolute;
    width: 100%;
  }
  .glow {
    background-image: url('glow.png');
    height: 300px;
    top: 400px;
    width: 100%;
    position: absolute;
  }
  .sunset-color {
    background-image: url('sunset-color.png');
    position: absolute;
    height: 300px;
    top: 300px;
    width: 100%;
  }
  .world {
    height: 400px;
    top: 200px;
    position: relative;
    z-index: 1000;
    left: -210px;
  }
  .logo {
    position: absolute;
    top: 0px;
    width: 400px;
    left: 0px;
    z-index: 1000;
    height: 100px;
    background-repeat: no-repeat;
  }
  .logo2 {
    position: absolute;
    top: 10px;
    width: 400px;
    right: -50px;
    z-index: 1000;
    height: 100px;
    background-repeat: no-repeat;
  }
  .hill-left {
    background-image: url('hill-left.png');
    position: absolute;
    top: 350px;
    width: 614px;
    height: 200px;
    left: -200px;
  }
  .hill-right {
    background-image: url('hill-right.png');
    position: absolute;
    width: 614px;
    height: 200px;
    top: 355px;
    right: -250px;
  }
}

.menu_holder {
  height: 60px;
  display: hidden;
  width: 100%;
  background-color: red;
}
.menu {
  border-bottom: 1px solid rgb(42, 44, 56);
  border-top: 1px solid rgb(42, 44, 56);
  background-color: $cmp-bg-main;
  width: 100%;
  text-align: center;
  font-size: 20pt;
  vertical-align: text-bottom;
  a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 7px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      display: inline;
    }
    div {
      float: left;
      height: 10px;
      width: 10px;
      background-color: red;
      position: relative;
      overflow: auto;
    }
  }
}

.info {
  overflow: auto;
  min-height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  .info_container {
    width: $cmp-page-width;
    margin: 0 auto;
  }
  .title {
    width: 200px;
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
    border-right: 10px solid rgb(96, 122, 179);
    font-size: 45pt;
    color: #FFF;
    float: left;
    margin-right: 50px;
  }
  .body {
    overflow: auto;
    width: 60%;
    float: left;
    color: #FFF;
    font-size: 20pt;
  }
}

.what, .who, .where, .how {

}

.what {
  background-color: $cmp-bg-what;
}
.who {
  background-color: $cmp-bg-who;
}
.where {
  background-color: $cmp-bg-where;
}
.how {
  background-color: $cmp-bg-how;
}
