<!DOCTYPE html>
<html>
<head>
  <title>Campendo - Mobile</title>
  <%= stylesheet_link_tag    "application", "mobile", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script language=javascript>
  <!--
  if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
     location.replace("/mobile/");
     }
     -->
  </script>
</head>
<body>
  <div class="mobile">
    <%= yield %>
  </div>

</body>
</html>
