<!DOCTYPE html>
<html>
<head>
  <title>Campendo - Mobile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div "scrolling_body mobile">
    <%= yield %>
  </div>
</body>
</html>
